MVC/Service References/DataQuadService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFService.Models" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataAccessLayer" />
  <xs:element name="GetUserDetailByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetUserDetailByUserIdResult" nillable="true" type="q1:userDetailsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sample">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sampleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="user" nillable="true" type="q2:userDetailsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileImageByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileImageByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFService.Models" minOccurs="0" name="GetProfileImageByUserIdResult" nillable="true" type="q3:userProfileImageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfileImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFService.DataAccessLayer" minOccurs="0" name="image" nillable="true" type="q4:tbl_userProfileImages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfileImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalDetailByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalDetailByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFService.DataAccessLayer" minOccurs="0" name="GetPersonalDetailByUserIdResult" nillable="true" type="q5:tbl_userPersonalDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonalDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFService.DataAccessLayer" minOccurs="0" name="userPersonalDetail" nillable="true" type="q6:tbl_userPersonalDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonalDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFService.DataAccessLayer" minOccurs="0" name="GetAllRacesResult" nillable="true" type="q7:ArrayOftbl_race" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilesByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilesByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFService.DataAccessLayer" minOccurs="0" name="GetAllFilesByUserIdResult" nillable="true" type="q8:ArrayOftbl_userFilesCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileByFileId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileByFileIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFService.DataAccessLayer" minOccurs="0" name="GetFileByFileIdResult" nillable="true" type="q9:tbl_userFilesCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFService.DataAccessLayer" minOccurs="0" name="file" nillable="true" type="q10:tbl_userFilesCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>